<div class="container" >

  <h1 class="title"> Designers </h1>
  
  <table mat-table [dataSource]="designers" class="mat-elevation-z8 table">
            <!-- iD Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Age Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Age </th>
              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
          
            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Gender </th>
              <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <!-- Profile Column -->
            <ng-container matColumnDef="profile">
              <th mat-header-cell *matHeaderCellDef> Profile </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="goToDesignerProfile(element.id)"> person_pin</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="editDesigner(element)"> edit</mat-icon>
              </td>
            </ng-container>

            
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="deleteDesigner(element)"> delete</mat-icon>
              </td>
            </ng-container>
          

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <button mat-raised-button (click)="addData()" class="demo-button"> Add designer </button>

    <button mat-raised-button (click)="addSubscriber()" class="demo-button"> Subscription </button>

    <button mat-raised-button (click)="addFeedback()" class="demo-button"> Feedback </button>

    <!--<app-child [message] = "parentMessage" (messageEvent)="receiveMessage($event)"></app-child>-->

    <div> 
       <button mat-raised-button (click)="logout()" class="demo-button"> Logout </button>
       <!--  <p>{{ message }} </p> -->
    </div> 
    
</div>


